SQLSERVER_HOST=192.168.121.2
SQLSERVER_DATABASE=intranetap
SQLSERVER_USERNAME=hotspot
SQLSERVER_PASSWORD=H0tsp0t@p

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=radius
MYSQL_USERNAME=fernando
MYSQL_PASSWORD=Arosio2001

FIXED_PASSWORD_MD5=6a4a677c5d7a43e02dff12cd1f8b0c83
PORTAL_TOKEN=change-me
ALLOWED_IP=192.168.121.1
CORS_ALLOW_ORIGINS=*
APP_ENV=local

RADIUS_DISCONNECT_SECRET=cerberus123
RADIUS_DISCONNECT_PORT=3799
RADIUS_DISCONNECT_TIMEOUT=3
RADIUS_DISCONNECT_RETRIES=1
RADIUS_RADCLIENT_BIN=/usr/bin/radclient

PFSENSE_HOST=10.10.0.1
PFSENSE_SSH_PORT=22
PFSENSE_SSH_USER=admin
PFSENSE_SSH_PASSWORD=
PFSENSE_SSH_TIMEOUT=8
PFSENSE_CAPTIVE_PORTAL_ZONE=hotspot
