SQLSERVER_HOST=192.168.121.2
SQLSERVER_DATABASE=intranetap
SQLSERVER_USERNAME=hotspot
SQLSERVER_PASSWORD=H0tsp0t@p

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=radius
MYSQL_USERNAME=fernando
MYSQL_PASSWORD=Arosio2001

FIXED_PASSWORD_MD5=6a4a677c5d7a43e02dff12cd1f8b0c83
PORTAL_TOKEN=change-me
ALLOWED_IP=192.168.121.1
CORS_ALLOW_ORIGINS=*
APP_ENV=local
